*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.topo {
    width: 100%;
    height: 200px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

main{
    background-color: bisque;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 200px 200px 100px;
    grid-template-areas: 
        "aside section"
        "aside section"
        "aside section";
}
.sidebar{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: darkkhaki;
}

div .imagem{
    padding: 25px 0;
    width: 150px;
    height: 200px; 
}

.redesSociais{
    padding: 23px 0px;
    background-color: darksalmon;
    width: 150px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    /* baixar imagens maiores */
}
.texto{
    grid-area: section;
    background-color: azure;
    height: 500px;
    width: 800px;


}